src/main/mule/vm-connector-consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="vm-connector-consumeFlow" doc:id="6a81144e-bca1-4f51-a04a-8ab118416026" >
		<http:listener doc:name="Listener" doc:id="e7c2a19e-851c-4722-ae1c-4dde788a2196" config-ref="HTTP_Listener_config" path="${consumepath}"/>
		<vm:consume doc:id="57dc0028-2ac9-4143-925b-03f876da2a6b" config-ref="VM_Config" queueName="${vmqueue}"/>
		<ee:transform doc:name="Transform Message" doc:id="97d574de-ec79-4887-97d3-cdd53f936244" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7e79a573-35f5-40cc-87c5-4dcf36c041f2" message="#[payload]"/>
	</flow>
</mule>
